<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Game Statistics</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <h1>Game Statistics</h1>
    <div class="scores">
      <p>Highest Total Score: <%=@@stat_tracker.highest_total_score%></p>
      <p>Lowest Total Score: <%=@@stat_tracker.lowest_total_score%></p>
      <p>Biggest Blowout: <%=@@stat_tracker.biggest_blowout%></p>
      <p>Most Popular Venue: <%=@@stat_tracker.most_popular_venue%></p>
      <p>Least Popular Venue: <%=@@stat_tracker.least_popular_venue%></p>
      <p>Percentage Home Wins: <%=@@stat_tracker.percentage_home_wins%></p>
      <p>Percentage Visitor Wins: <%=@@stat_tracker.percentage_visitor_wins%></p>
      <p>Season With Most Games: <%=@@stat_tracker.season_with_most_games%></p>
      <p>Season With Fewest Games: <%=@@stat_tracker.season_with_fewest_games%></p>
      <p>Count of Games by Season:
        <table>
          <tr>
            <th>Season</th>
            <th>Count of Games</th>
          </tr>
          <%@@stat_tracker.count_of_games_by_season.each do |season, count|%>
          <tr>
            <td><%=season%></td>
            <td><%=count%></td>
          </tr>
          <%end%>
        </table>
      </p>
      <p>Average Goals per Game: <%=@@stat_tracker.average_goals_per_game%></p>
      <p>Average Goals by Season:
        <table>
          <tr>
            <th>Season</th>
            <th>Average Goals</th>
          </tr>
            <%@@stat_tracker.average_goals_by_season.each do |season, average|%>
            <tr>
              <td><%=season%></td>
              <td><%=average%></td>
            </tr>
            <%end%>
        </table>
      </p>
    </div>
  </body>
</html>
