<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Season Statistics</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <div class="topnav">
      <img class="home" src="/images/puck.png" alt="home">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="game_statistics">Game Statistics</a></li>
        <li><a href="league_statistics">League Statistics</a></li>
        <li><a href="team_list">Team Statistics</a></li>
        <li><a href="season_list" class="active">Season Statistics</a></li>
        <li><a href="about">About Project</a></li>
      </ul>
    </div>
    <h1>Season Statistics</h1>
    <p>Biggest Bust: <%=@@stat_tracker.biggest_bust(@@query["season"].to_i)%></p>
    <p>Biggest Surprise: <%=@@stat_tracker.biggest_surprise(@@query["season"].to_i)%></p>
    <%if @@query["team"]%>
    <p>Summary: <%=@@stat_tracker.season_summary(@@query["season"].to_i, @@query["team"].to_i)%></p>
    <%else%>
    <div class='team-option-grid'>
      <%@@stat_tracker.teams.all.each do |team|%>
        <div class="team-option">
          <a href="season_statistics?season=<%=@@query["season"]%>&team=<%=team.id%>">
            <img src="/images/<%=team.id%>.png" alt="<%=team.team_name%>">
          </a>
        </div>
      <%end%>
    </div>
    <%end%>
  </body>
</html>
