<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Season Statistics</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <div class="topnav">
      <ul>
        <li><a href="/"><img class="home" src="/images/home.png" alt=""></a></li>
        <li><a href="game_statistics">Game Statistics</a></li>
        <li><a href="league_statistics">League Statistics</a></li>
        <li><a href="team_list">Team Statistics</a></li>
        <li><a href="season_list">Season Statistics</a></li>
        <li><a href="about">About Project</a></li>
      </ul>
    </div>
    <h1>Season Statistics</h1>
    <p>Biggest Bust: <%=@@stat_tracker.biggest_bust(@@query["season"].to_i)%></p>
    <p>Biggest Surprise: <%=@@stat_tracker.biggest_surprise(@@query["season"].to_i)%></p>
    <%if @@query["team"]%>
    <p>Summary: <%=@@stat_tracker.season_summary(@@query["team"].to_i)%></p>
    <%else%>
    <select class="teams" name="please">
      <%@@stat_tracker.teams.all.each do |team|%>
      <option value="<%=team.id%>"><%=team.team_name%></option>
      <%end%>
    </select>
    <%end%>
  </body>
</html>
