<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Team Statistics</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <p>Team Info:
      <table>
        <tr>
        <%@@stat_tracker.team_info(@@query.to_i).keys.each do |key|%>
          <th><%=key%></th>
          <%end%>
        </tr>
        <tr>
          <%@@stat_tracker.team_info(@@query.to_i).values.each do |value|%>
          <td><%=value%></td>
          <%end%>
        </tr>
      </table>
    </p>
    <p>Best Season: <%=@@stat_tracker.best_season(@@query.to_i)%></p>
    <p>Worst Season: <%=@@stat_tracker.worst_season(@@query.to_i)%></p>
    <p>Average Win Percentage: <%=@@stat_tracker.average_win_percentage(@@query.to_i)%></p>
    <p>Most Goals Scored: <%=@@stat_tracker.most_goals_scored(@@query.to_i)%></p>
    <p>Fewest Goals Scored: <%=@@stat_tracker.fewest_goals_scored(@@query.to_i)%></p>
    <p>Favorite Oppenent: <%=@@stat_tracker.favorite_opponent(@@query.to_i)%></p>
    <p>Rival: <%=@@stat_tracker.rival(@@query.to_i)%></p>
    <p>Biggest Blowout: <%=@@stat_tracker.biggest_team_blowout(@@query.to_i)%></p>
    <p>Worst Loss: <%=@@stat_tracker.worst_loss(@@query.to_i)%></p>
    <p>Head to Head:
    <table>
      <tr>
        <th>Opponent</th>
        <th>Wins</th>
        <th>Losses</th>
      </tr>
      <%@@stat_tracker.win_loss_record(@@query.to_i).each do |team, record|%>
      <tr>
        <td><%=@@stat_tracker.teams.find_by_id(team).short_name%></th>
        <td><%=record[:wins]%></th>
        <td><%=record[:losses]%></th>
      </tr>
      <%end%>
    </table>
    </p>
    <%=@@stat_tracker.seasonal_summary(@@query.to_i)%>
    <%@@stat_tracker.seasonal_summary(@@query.to_i).each do |season|%>
    <p>Season: <%=season.first%>
      <%season.last.keys.each do |type|%>
      <p><%=type%>
      </p>
      <%end%>
    </p>
    <%end%>
  </body>
</html>
