<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Team Statistics</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <div class="topnav">
      <img class="home" src="/images/puck.png" alt="home">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="game_statistics">Game Statistics</a></li>
        <li><a href="league_statistics">League Statistics</a></li>
        <li><a href="team_list" class="active">Team Statistics</a></li>
        <li><a href="season_list">Season Statistics</a></li>
        <li><a href="about">About Project</a></li>
      </ul>
    </div>
    <p>Team Info:
      <table>
        <tr>
        <%@@stat_tracker.team_info(@@query["team"]).keys.each do |key|%>
          <th><%=key%></th>
        <%end%>
        </tr>
        <tr>
          <%@@stat_tracker.team_info(@@query["team"]).values.each do |value|%>
            <td><%=value%></td>
          <%end%>
        </tr>
      </table>
    </p>
    <p>Best Season: <%=@@stat_tracker.best_season(@@query["team"])%></p>
    <p>Worst Season: <%=@@stat_tracker.worst_season(@@query["team"])%></p>
    <p>Average Win Percentage: <%=@@stat_tracker.average_win_percentage(@@query["team"])%></p>
    <p>Most Goals Scored: <%=@@stat_tracker.most_goals_scored(@@query["team"])%></p>
    <p>Fewest Goals Scored: <%=@@stat_tracker.fewest_goals_scored(@@query["team"])%></p>
    <p>Favorite Oppenent: <%=@@stat_tracker.favorite_opponent(@@query["team"])%></p>
    <p>Rival: <%=@@stat_tracker.rival(@@query["team"])%></p>
    <p>Biggest Blowout: <%=@@stat_tracker.biggest_team_blowout(@@query["team"])%></p>
    <p>Worst Loss: <%=@@stat_tracker.worst_loss(@@query["team"])%></p>
    <p>Head to Head:
    <table>
      <tr>
        <th>Opponent</th>
        <th>Win Ratio</th>
      </tr>
      <%@@stat_tracker.win_loss_record(@@query["team"]).each do |team, record|%>
      <tr>
        <td><%=team%></td>
        <td><%=record%></td>
      </tr>
      <%end%>
    </table>
    </p>
    <%@@stat_tracker.seasonal_summary(@@query["team"]).each do |key, value|%>
    <h1><%=key%></h1>
      <%value.each do |key, value|%>
      <p><%=key%></p>
      <table>
        <tr>
          <th>Win Percentage</th>
          <th>Goals Scored</th>
          <th>Goals Against</th>
          <th>Average Goals Scored</th>
          <th>Average Goals Against</th>
        </tr>
        <tr>
          <td><%=value[:win_percentage]%></td>
          <td><%=value[:goals_scored]%></td>
          <td><%=value[:goals_against]%></td>
          <td><%=value[:average_goals_scored]%></td>
          <td><%=value[:average_goals_against]%></td>
        </tr>
      </table>
      <%end%>
    <%end%>
    <%=@@stat_tracker.seasonal_summary(@@query["team"])%>
    <%@@stat_tracker.seasonal_summary(@@query["team"]).each do |season|%>
    <p>Season: <%=season.first%>
      <%season.last.keys.each do |type|%>
      <p><%=type%>
      </p>
      <%end%>
    </p>

    <%end%>
  </body>
</html>
